.morning-glory-style{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.mainbar-style {
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.new-product-btn-style{
    width: 96px;
    height: 37px;
    margin-left: 1%;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    background-position: center; 
    background-image: url('../assets/rectangle-118-EGH.png');
    border-radius: 3rem; 
}

.popular-products-btn-style{
    width: 129px;
    height: 37px;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    background-position: center; 
    background-image: url('../assets/rectangle-118-giD.png');
    border-radius: 3rem;
}

.category-btn-style{
    width: 96px;
    height: 37px;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    background-position: center; 
    background-image: url('../assets/rectangle-118-EGH.png');
    border-radius: 3rem;
}

.search-text-style{
    width: 350px;
    height: 37px;
    border: 1px solid #bbb;
    border-radius: 3rem;
    
    font-size: 14px;
    outline: solid #FEC42E;

    background-image: url(../assets/material-symbols-search.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
}

.announcement-btn-style{
    width: 129px;
    height: 37px;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    background-position: center; 
    background-image: url('../assets/rectangle-118-EGH.png');
    border-radius: 3rem;
}

.shopping-basket-btn-style{
    width: 129px;
    height: 37px;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    background-position: center; 
    background-image: url('../assets/rectangle-118-giD.png');
    border-radius: 3rem;
}

.login-btn-style{
    width: 106px;
    height: 37px;
    margin-right: 1%;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    background-position: center; 
    background-image: url('../assets/rectangle-118-EGH.png');
    border-radius: 3rem;
}

.contents-new-product-style{
    background-color: rgba(254, 154, 46, 0.400000006);
}
.contents-new-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contents-temp-product-container {
    justify-content: center;
}

.contents-temp-product-one-style {
    flex: 0 0 auto;
    max-width: 200px;
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    background-color: #c2bcaa;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px; /* Adjusted margin for spacing between images */
}


.contents-temp-product-one-style img {
    display: block; /* Ensure images are displayed as block-level elements */
    margin-bottom: 20px; /* Adjusted margin for spacing between images */
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
}

.contents-new-product-one-style {
    flex: 0 0 auto;
    max-width: 200px;
    display: inline-block;
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    background-color: #b89c7f;
    border: 1px solid #ccc;
    border-radius: 10px; /* 모서리를 10px로 둥글게 만듭니다. */
    overflow: hidden; /* 모서리 부분이 텍스트나 이미지를 넘어가지 않도록 합니다. */
    color: #ffffff;
}

.contents-new-product-container-border {
    border: none; /* 부모 컨테이너에 border 추가 */
}

.contents-new-product-one-style img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    vertical-align: top;
}

.contents-new-product-one-style .text-container {
    margin-left: 5px; /* 텍스트를 오른쪽으로 5px 이동 */
}


.contents-popular-products-style{
    background-color: rgba(254, 195, 46, 0.400000006);
}

.contents-popular-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contents-popular-products-one-style{
    flex: 0 0 auto;
    max-width: 200px;
    display: inline-block;
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    background-color: #a99a74;
    border: 1px solid #ccc;
    border-radius: 10px; /* 모서리를 10px로 둥글게 만듭니다. */
    overflow: hidden; /* 모서리 부분이 텍스트나 이미지를 넘어가지 않도록 합니다. */
    color: #ffffff;
}

.contents-popular-products-one-style .text-container {
    margin-left: 5px; /* 텍스트를 오른쪽으로 5px 이동 */
}

.contents-popular-product-container-border{
    border: none;
}

.contents-popular-products-one-style img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    vertical-align: top;
}

.resgisterItem-btn-style {
    width: 35px;
    height: 35px;
    margin-left: auto;
    display: block;
}

.bottombar-style{
    margin-top: 1%;
    display: flex;
    font-size: 2rem;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}

@media (max-width: 768px) {
    .mainbar-style {
        flex-wrap: wrap; 
        text-align: center; 
    }

    .search-style {
        order: -1; 
        margin-bottom: 10px; 
	width: 100%;
	padding: 5px;
    }

    .search-text-style {
        width: 100%; 
	box-sizing: border-box;
	margin: 0 auto;
	padding: 5px;
    }

    .new-product-btn-style,
    .popular-products-btn-style,
    .category-btn-style,
    .announcement-btn-style,
    .shopping-basket-btn-style,
    .login-btn-style {
        width: 48%; 
        margin: 5px 1%; 
  }

    
}
